.cache/
.cache/*
target/
target/*
.vscode
.vnext
cjlintignore.cfg
.idea
cjpm.lock
.cjpm-history
*.cj.macrocall
fountain.iml
*.iml
.devbrain/
.devbrain/*
.arts/
.arts/*
build-script-cache/
build-script-cache/*
build.cj
build.cj.bak