.cache/
.cache/*
target/
target/*
.vscode
.vnext
cjlintignore.cfg
.idea
cjpm.lock
.cjpm-history
*.cj.macrocall
fountain.iml
*.iml
.devbrain/
.devbrain/*
.arts/
.arts/*
.rules/
.codebuddy/
build-script-cache/
build.cj
log.txt

fdemo/fdemo/
fdemo/fdemo/*
fdemo/logs/
fdemo/log/
fdemo/fdemo_*/

cj_OOM_pid*.dat
item_data.dat.cache
post_data.json
console.log
.codeartsdoer/
.codemate/
CODEBUDDY.md